<%- include('header') -%>
<main>
    <h2>Schedule List</h2>
    <table>
        <tr>
          <th>User Id</th>
          <th>Day</th>
          <th>Start at</th>
          <th>End at</th>
        </tr>
        <% schedules.forEach((schedule)=>{%>
        <tr>
          <td><%= schedule.user_id %></td>
          <td><%= schedule.day %></td>
          <td><%= schedule.start_at %></td>
          <td><%= schedule.end_at %></td>
        </tr>
        <% }) %> 
      </table>
  </main>
<%- include('footer') -%>